/email-and-file-tasks
*.zip
/task2-flexbox-version
/amazing-events/node_modules
/amazing-events/dist
/amazing-events/.parcel-cache
/ae-funciones
/amazing-events-t2/node_modules
/amazing-events-t2/dist
/amazing-events-t2/.parcel-cache
/amazing-events-dev/node_modules
/amazing-events-dev/dist
/amazing-events-dev/.parcel-cache
/testing
/amazing-events-lab/node_modules
/amazing-events-lab/dist
/amazing-events-lab/.parcel-cache
